/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 20px;
    box-sizing: border-box;
    /* background-color: #0065fc; */
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Header ********/
header {
    display: flex;
    justify-content: space-between;
}

#logo_header {
    max-width: 61px;
    max-height: 20px;
    margin: 30px 50px;
}

.quick-section-nav {
    display: flex;
    align-items: right;
    gap: 58px;
}

.quick-section-nav a:hover {
    border-top: 3px solid var(--main-color);
    color: var(--main-color);
}

/***** Nav ******/

/****** title ********/
.nav_and_filter {
    display: block;
    margin-bottom: 35px;
    justify-content: space-between;
}

.div_title {
    margin-bottom: 35px;
}

.title_txt {
    margin: 8px;
}

/***** search bar ******/

#search_bar_div {
    display: flex;
    justify-content: inline;
    height: 49px;
}

.location_dot {
    border-radius: 15px 0px 0px 15px;
    background-color: #d9d9d9;
    border: none;
    cursor: pointer;
    width: 50px;
}

.loc_dot {
    color: #000000;
    height: 18px;
    width: 14px;
}

#search_bar {
    border: none;
    height: 45px;
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
}

.search_icon {
    display: none;
}

.search_btn {
    border-radius: 0px 15px 15px 0px;
    background-color: var(--main-color);
    border: none;
    cursor: pointer;
    width: 132px;
    color: white;
}

/************* filter  *****************/

#nav_filter {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
}

#nav_filter button {
    border-radius: 25px;
    border: 2px solid #d9d9d9;
    background-color: none;
    cursor: pointer;
    padding: 14px 19px;
}

.icon_btn {
    margin-right: 10px;
}

#txt_filter {
    margin-top: 14.5px;
}

#nav_filter button:hover {
    background-color: #deebff;
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards .card {
    display: flex;
    margin-top: 30px;
    flex-direction: column;
}

.hebergements-cards img {
    height: 125px;
    width: 250px;
    justify-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 30px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*********** activites ******************/

#activites {
    padding: 30px;
    max-width: 100%;
}

.activites h2 {
    margin-bottom: 30px;
}

.activites_card_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    max-width: 1440px;
}

.act_card {
    padding: none;
    box-shadow: 0px 3px 15px 0px #0000001a;
    border-radius: 20px;
}

.activites img {
    justify-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
    width: 297.5px;
    height: 380px;
}

.acti_title {
    padding-top: 20px;
    padding-left: 19px;
    padding-bottom: 20px;
}

/***** footer *********/

.footer {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    height: 163px;
}

.footer div {
    width: 33%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.footer h2,
.footer a {
    margin: 0px;
    padding-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .act_card {
        width: 183.5px;
    }

    .activites img {
        width: 183.5px;
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0px;
    }

    /* header */
    header {
        flex-direction: column;
        justify-items: center;
    }

    #logo_header {
        margin: 0px 126.96px;
        padding: 30px;
    }

    .quick-section-nav a {
        padding-bottom: 15px;
        width: 50%;
        text-align: center;
    }

    .quick-section-nav {
        gap: 0px;
        align-items: center;
    }

    /* search bar */
    #search_bar_div {
        margin: 35px 0px;
        width: 335px;
        justify-content: center;
    }

    .search_button_txt {
        display: none;
    }

    .search_icon {
        display: flex;
        color: white;
        margin: 16px;
        justify-content: center;
    }

    .search_btn {
        height: 49px;
        width: 49px;
        border-radius: 16px;
    }

    /* filter */
    #nav_filter {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }

    #nav_filter button {
        width: 48%;
    }
    /* hebergements ans populaires */
    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
        padding: 10px;
    }

    .populaires-cards {
        flex-direction: column;
        gap: 15px;
    }

    .populaires-cards a {
        width: 100%;
    }

    #hebergements {
        background-color: white;
    }

    .hebergements-cards .row {
        flex-direction: column;
    }

    .hebergements-cards img {
        width: 100%;
        height: 124px;
    }

    .card-content {
        gap: 5px;
    }
    /* activites */
    .activites_card_div {
        flex-direction: column;
        width: 100%;
    }

    .act_card {
        width: 100%;
    }
    .activites img {
        width: 100%;
        height: 141px;
    }
    /* footer */
    .footer {
        flex-direction: column;
        height: auto;
    }
}
